.about {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    padding-bottom: 30px;
    background-color:rgb(249, 247, 232);


    .setup { 
        display: none;
    }

    .about-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 320px;
        margin: 50px auto;

        img {
            width: 150px;
        }
    }
    
    .descrition {
        display: flex;  
        flex-direction: column; 
        gap: 30px;
        padding: 0 30px;
        margin: auto;
        align-items: center;

        figcaption {
            max-width: 450px;
        }

        img {
            border: 3px solid rgb(44, 117, 116);
            border-radius: 50%;
            max-width: 170px;
        }
    }
}

@media (min-width: 1024px) {
    .about {
        position: relative;
        margin: auto;
        padding-top: 90px;
        
        .setup {
            display: block;
            height: 900px;
            object-fit: cover;
        }

        .about-header{
            position: absolute;
            top: 33%;
            left: 50%;
            transform: translateX(-45%) translateY(-50%);
            max-width: 900px;

            .head {
                width: 300px;
            }

            figcaption {
                font-size: 45px;
                background-color: rgba(255, 255, 255, 0.5);
                color: rgb(0, 0, 0);
                padding: 0 15px;
                border-radius: 5px;
            }
        }
    }
}


